.results{
  text-align: center;
  margin-bottom:5px;
}
.image{
  width:85px;
  display:inline-block;
  /* margin-right:25px; */
}
.header{
  padding:5px;
  background-color: cadetblue;
  color:white;
  margin-bottom:1vh;
}
.header a{
  text-decoration: none;
  color:unset;
}
.menuDiv{
  display: inline-block;
  float:right;
  margin-right:5vw;
}
.menuDiv a{
  margin-left: 1vw;
}
.inputDiv{
  text-align: center;
  margin-bottom:1vh;
}
.inputDiv input{
  margin-right: 1vw;
  border:1px solid;
  border-radius: 4px;
  padding:3px;
}
.inputDiv button{
  padding: 3px 14px 3px 14px;
  border: 1px solid;
  border-radius: 13px;
  background-color: transparent;
  margin-left: 1vw;
  outline:none;
}
.inputDiv button:hover{
  background-color: lightgrey;
}
.pageNumber{
	display: inline-block;
  margin-left:8px;
  cursor: pointer;
}
.activePage{
  color:red;
  font-size: x-large;
}