div{
    /* display: inline-block; */
    /* display: flex; */
    
}
li{
    list-style: none;
    cursor:pointer;
}
li:hover {
    color:blue;
}
.click:hover{
    color:blue !important;
}
.footer .column li{
    color: #8E9AA7;
    text-decoration: none;
    line-height: 28px;
    font-weight: 500;
}
h4{
    margin:auto;
    margin-bottom: 10px;
}
label:hover{
    margin-left:5px;

}
.footer .column {
    float: left;
    width: 21%;
    padding: 0 30px 30px 30px;
    height: 200px;
}
.footer-container{
    max-width: 1180px;
    margin-left:100px;
}
.social-links-about{
    float: left;
    width: 100%;
    margin-top: 40px;
}
.social-links-about .twitter {
    color:white;
    background: #292C30 url(https://image.flaticon.com/icons/svg/8/8800.svg) center center no-repeat;
    background-size: 14px 14px;
}
.social-links-about .linkedIn {
    color:white;
    background: #292C30 url(https://image.flaticon.com/icons/svg/220/220343.svg) center center no-repeat;
    background-size: 14px 14px;
}
.social-links-about .facebook {
    color:white;
    background: #292C30 url(https://image.flaticon.com/icons/svg/134/134020.svg) center center no-repeat;
    background-size: 14px 14px;
}
.social-links-about .share-button {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 5px;
    border-radius: 15px;
    margin-top: 8px;
}