.navbar-main{
	/* width:100vw; */
	height:35px;
	padding:15px;
	background-color:lightblue;
}
.logo{
	float:left;
}
.nav-right{
	float:right;
}
.nav-right span{
	margin-right:20px;
	cursor:pointer;
}
.input-main{
	text-align: center;
}
.total-pages a{
	color:grey;
	cursor: pointer;
}
.pageNumber{
	display:inline-block;
	padding:4px;
	margin-right:5px;
	color:grey;
	cursor: pointer;
}
.activePage{
	font-size: 28px;
	font-weight: 500;
	color:red !important;
}
