body{
    font-family:sans-serif;
    /* text-align: center; */
    font-size: 18px;
}
.mainDiv{
    border: 1px solid black;
    width: 50vw;
    /* margin-left: 25vw; */
    text-align: center;
    display:inline-block;
    height: 42vh;
}
.dashBoard{
    display: inline-block;
    width: 21vw;
    height: 42vh;
}
.dashBoard div{
    display: inline-block;
}
#userTotalScore{
    margin-left:2vw;
}
.userTitle {
    margin:15px;
}
.userTitle div{
    display:inline-block;
}
.userDetails, .userScore{
    display: inline-block;    
    margin-left: 2vw;
    margin-right: 2vw;
    height: 25vh;
}
.userDetails div {
    margin-bottom:10px;
}
.userScore div{
    margin-bottom:8px;
}
.userScore{
    text-align: left !important;
}
a{
    text-decoration-line: none !important;
    font-size: 14px;
}
.scoreValue{
    color:red;
    font-size: 13px;
    font-weight: 600;
}