p{
  margin:unset;
}
.searchBox{
  text-align:center;
}
.searchInput{
  width:50vw;
  padding:7px;
  border:1px solid lightgrey;
  border-radius: 5px;
  outline:none;
  margin-right: 1vw;
}
.numberInput{
  width:10vw;
  padding:7px;
  border:1px solid lightgrey;
  border-radius: 3px;
  outline:none;
  margin-right: 1vw;
}
.loading{
  margin-top:2vh;
  font-size: x-small;
}
.submitButton{
  padding:7px 12px 7px 12px;
  background-color: aquamarine;
  /* color:white; */
  outline: none;
  border:1px solid aquamarine;
  border-radius: 10px;
  cursor:pointer;
}
.videoDetailMain{
  margin-top:3vh;
}
.iframeVideo{
  margin-left: 27vw;
  width: 46vw;
  height: 60vh;
  border-radius: 20px;
}
.videoList p{
  margin-bottom: 6px;
  font-size: small;
  color:chocolate;
}
.image{
  width:8vw;
  margin: 0 11px 1vh 0;
  cursor:pointer;
}
.pageNumberDiv{
  text-align: center;
  margin-top: 5px;
}
.pageNumber{
  margin-left:10px;
  cursor:pointer;
  font-size: medium;
}
.activePage{
  color:red;
  font-size: xx-large;
}