body{
  margin:0 !important;
}
.mainBox{
  text-align: center;
  width:96vw;
  height:96vh;
  position:relative;
}
.title{
  color: chocolate;
  font-size: 45px;
  margin-top: 25px;
}
.calculator{
  max-width: 220px;
  max-height:265px;
  padding: 10px;
  background-color: lightgrey;
  border-radius: 8px;
  position:absolute;
  margin: auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
}
button:hover{
  cursor: pointer;
}
.displayBox{
  width: 206px;
  border: 1px solid darkslateblue;
  padding: 4px;
  text-align: right;
  height:25px;
}
.keypadPanel div div{
  margin-top:2px;
}
.keypadPanel  div div div{
  display:inline-block;
}
.keypadPanel div div button{
  width: 50px;
  height: 30px;
}
.split1, .split2{
  display: inline-block;
}
.miniLeftRow1, .miniLeftRow2{
  display: block !important;
}
.miniLeftRow2 div button{
  width:107px !important;
}
.miniRightRow1, .miniRightRow2{
  display: inline-block !important;
}
.miniRightRow1 div{
  display: block !important;
}
.typeHere{
  padding: 0;
  margin: 2px 0px 2px 0px;
  max-width: 206px;
  font-size: 21px;
}
.inputBox{
  width:206px;
  padding:4px;
}