.divNavBar {
  height: 60px;
  background: red;
  padding: 19px 30px;
  box-sizing: border-box;
}

.divLogo {
  display: inline-block;
}

.divRightNav {
  float: right;
}

.navItem {
  display: inline-block;
  margin-right: 20px;
}

.divImages {
  text-align: center;
}

img {
  height: 50px;
  width: 50px;
  margin-right: 20px;
  margin-top: 20px;
}

.page {
  display: inline-block;
  margin-right: 15px;
  cursor: pointer;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

div {
  text-align: center;
}

.activePage {
  color: red;
  font-size: 30px;
}