body{
  margin:inherit;
}
.totalPage{
  /* float:top; */
  background-image: url('https://scontent.fhyd7-1.fna.fbcdn.net/v/t1.0-9/16114446_1712270325737994_8748008923108246404_n.jpg?_nc_cat=100&_nc_ht=scontent.fhyd7-1.fna&oh=eb542968b59aee0607f23714180a52f0&oe=5D8DBED6');
  background-repeat: no-repeat;
  background-size: 100vw;
  height:100vh;
}
.form input{
  display: block;
}
#userPhotoDiv img{
  width:100px;
}
.mainForm{
  float:left;
  padding: 10px;
  border: 1px solid steelblue;
  border-radius: 5px;
  margin-top:30vh;
  margin-left:25vw;
  background-image: linear-gradient(to right top, #051937, rgba(0, 77, 122, 0.4), rgba(0, 135, 147, 0.4), rgba(0, 191, 114, 0.3), lightsteelblue);
}
.inputBox{
  display: block;
  height: 26px;
  margin-bottom: 10px;
  width: 26vw;
  padding: 5px;
  font-size: 15px;
  border: 2px solid darkgray;
  border-radius: 5px;
}
#userWishInput{
  height:78px !important;
  resize:none;
}
.mainForm button{
  border: 2px solid lightsteelblue;
  border-radius: 6px;
  width: 120px;
  padding: 6px;
  font-size: 15px;
}
.buttonsDiv{
  margin-top:30px;
}