.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.tag{
  /* float: left; */
  margin-left: 15px;
  background-color: #fff;
  border-radius: 30px;
  border: solid rgba(0, 0, 0, 0.07) 1px;
  color: #8E9AA7;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 4px 2px; */
  cursor: pointer;
  background: url('https://www.welovedaily.com/img/icons/icon-plus-grey.svg');
  background-repeat: no-repeat;
  background-position: 94% 50%;
}