.App {
  text-align: center;
  font-family: 'Poppins',
    sans-serif;
    /* margin-left:0px; */
    margin-right:80px;
    
}

.leftPanel {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 80px;
  border-right: 1px solid lightgray;
}

.menuIcon {
  background-image: url('../images/menu.svg');
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30%;
  cursor: pointer;
}

.divPreview {
  width: 100%;
  /* background: red; */
  min-height: 100vh;
}

.divSubmit {
  height: 80px;
  width: 256px;
  background-color: #0071ff;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  line-height: 80px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
  padding-left: 8px;
  box-sizing: border-box;
  cursor: pointer;
  background-image: url('../images/right-arrow.svg');
  background-position: 96% 50%;
  background-size: 17px;
  background-repeat: no-repeat;
}

.divBody {
  left: 80px;
  top: 80px;
  position: relative;
  padding: 30px 120px;
  text-align: left;
}

.mainIcon {
  width: 74px;
  height: 20px;
  background-image: url('../images/welove.svg');
  background-repeat: no-repeat;
}

.labelInspiration {
  margin-top: 65px;
  color: gray;

}

.mainHeading {
  margin-top: 30px;
  font-size: 50px;
}
.ico-plus{
  width: 20px;
  height: 20px;
  position: absolute;
  background: url(../images/plus-sign-to-add.svg) center center no-repeat;
  background-size: 20px 20px;
  transform: rotate(0deg);
  opacity: .8;
  display:inline-block;
}

.tag{
  /* float: left; */
  padding: 16px 20px 16px 23px;
  color: #8E9AA7;
  cursor: pointer;
  border-radius: 30px;
  margin-left: 10px;
  line-height: 19px;
  background: #fff;
  border: solid rgba(0, 0, 0, 0.07) 1px;
  display:inline-block;
  /* background-image: url('../images/plus-sign-to-add.svg'); */
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: 129px 17px;


}
.abc{
  display:inline-block;
}
.tags {
  text-align: left;
  height:85px;
  width: 100%;
  background-color: transparent;
  margin-right:20px;
 margin-top:35px;
 font-size: 17px;
}

.webdesign {
  width: 144px;
  height: 40px;
  padding-left: 20px;
  padding-top: 12px;
  border-radius: 30px;
  background-color: transparent;
  color: rgb(18, 121, 231);
  display: inline-block;
  margin-left: 15px;
  background-image: url('../images/plus-sign-to-add.svg');
  background-size: 14px;
  background-repeat: no-repeat;
  border: 1px rgba(0, 0, 0, 0.07) solid;
  background-position: 129px 17px;

}
.tag:hover{
  color: rgb(18, 121, 231);
}

.select {
  display: inline-block;
  margin-left: 23px;
  color: #8E9AA7;

}
.plus-icon{

}
.post{
  float: left;
  padding: 30px;
  width: 33.33333%;
  height: auto;
  position: relative;
}
.post-container{
  float: left;
  width: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background: #F3F5F6;
  margin-bottom: 11px;
  
}
.img{
    height: 282px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    border: 0;
}
.des-click:hover {
  cursor: pointer;
  color: #0071FF;
}
.des-right{
  float: right;
}
.des-right:hover{
  
  cursor: pointer;
  color: #0071FF;
}
.post-Description{
  font-size: 15px;
  margin-top:15px;
  padding-top: 15px;
}