.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.totalCards {
  margin-left: 30px;
  position: relative;
  top: 70px;
  display: inline-block;
}
.posterCard {
  width: 483px;
  height: 278px;
  display: flex;
  align-items: center;
  display: inline-block;
  box-shadow: 0px 1px 1px 1px;
  margin-top: 25px;
  margin-left: inherit;
}


.image {
  width: 185px;
  height: 278px;


}
.div2 {
  width: 298px;
  height: 278px;
  position: relative;
  overflow: hidden;
  padding: 10px 16px 16px 16px;
  box-sizing: border-box;
  display: inline-block;

}

.logo{
  height:20px;
  width:20px;
}
.title {
  margin-top: 0px;
  margin-bottom: 5px;
  width: 266px;
  /* height: 38px; */

}
.logoTitle{
  display: flex;
} 

.moreinfo{
  border-top: 1px solid #e3e3e3;
  margin-top:0px;
  margin-bottom:0px;
}

.ov {
  
  text-align: inherit;
  width: 266px;
  height: 105px;
  position: relative;
  padding-left: 4.5px;
  overflow: overlay;

}
.p{
  margin-top: 0px;
}

