.bgImg{
    background-image: url("https://static.wixstatic.com/media/631afa_77050d8ddd654dc0a5f404fbbe9102cf~mv2_d_3893_2722_s_4_2.jpg/v1/fill/w_1024,h_562,al_c,q_85,usm_0.66_1.00_0.01/631afa_77050d8ddd654dc0a5f404fbbe9102cf~mv2_d_3893_2722_s_4_2.webp");
    width:100%;
    height:100%;
}
.card-img {
    border-radius:0px 0px 0px 0px;
    border:0px;
   background: linear-gradient(rgba(0, 119, 255, 0.45), rgba(0, 119, 255, 0.45)),url("https://static.wixstatic.com/media/631afa_77050d8ddd654dc0a5f404fbbe9102cf~mv2_d_3893_2722_s_4_2.jpg/v1/fill/w_1024,h_562,al_c,q_85,usm_0.66_1.00_0.01/631afa_77050d8ddd654dc0a5f404fbbe9102cf~mv2_d_3893_2722_s_4_2.webp");

}
.card{
    border-radius:0px 0px 0px 0px;
    border:0px;
}
.card-body{
    /* text-align: center; */
    margin: 0 auto;
}
.card-img-overlay{
    padding:0px;
}
.card-text{
    text-align: center;
    margin-block-end: 20px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top : 80px;
}
.test{
    color:red;
}
.center{
    text-align: center;
}
.data{
    margin-left : 50px;
}
.textcenter{
    padding : 9%;
     margin: 0 auto;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}
.headings {
    font-weight: 600;
    line-height: normal;
    font-size: 30px;
    letter-spacing: .04em;
    text-transform: capitalize;
    color: #28007c;
    border: 5px;
    margin-top:20px;
    margin-bottom:20px;
}
.divMargin{
    margin-left:50px;
}
.imgSize{
    display:block;
    margin:auto;

    margin-top: 25%;
    width: 250px;
    /* margin-top: 50%; */
    border-style: none;
}
.img{
    max-height: 100%;
    max-width :100%;
}
.myText{
    margin-left : 20px;
    margin-right: 20px;
    font-family: 'Roboto', sans-serif;
}
.btn-apply{
    line-height: 35px;
    padding: 0 10px;
    width: 120px;
    margin: 0 auto;
    /* margin-top: 30px; */
    background: linear-gradient(252.5deg,#2af598,#08aeea);
    border-radius: 5px;
    color: #fff;
}
.textColor{
    color:green;
}
.courses{
    background-color: #28007c;
}
.fontColor{
    color : white;
}
.subline{
    width: 50%;
    margin: 0 auto;
    font-size: 14px;
    color: #fff;
    margin-top: 30px;
}
.p1{
    font-size: 13px;
    letter-spacing: .02em;
    color: #4f4f4f;
}
.navbar{
    position :fixed;
    margin-left: 56%;
}