.line{
width: 1px;
max-height: 100%;
background: black;
margin: 0 auto;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
}
.imgIcons{
    width: 40%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
   

}
.info{
    display: inline-block;
    margin-top: 17px;
    /* width:50px; */
}
.titleFont{
    color:blue;
    
}
.titleHover:hover{
    cursor: pointer;
    text-decoration:underline;
}
.cardColor{
    background-color:#ebeef1;
}
.singleCard{
    position: relative;
    overflow: hidden;
}
.singleCard{
    text-align: center;
}
.data{
    text-align: center;
}
.headings1 {
    font-weight: 600;
    line-height: normal;
    font-size: 30px;
    letter-spacing: .04em;
    text-transform: capitalize;
    color: #28007c;
    border: 5px;
}