/* .totalCards{
    display :flex;
    width :570px;
    height :400px;

}
.posterCard{
    display: flex;
    box-shadow: 0px 0px 4px 1px black;
    width :483px;
    height :278px;
    margin-left: 20px;
}

/* .divElement{
    width :1300px;
    height :4000px; */

/* .img{
    height: 400px;
    width: 250px;
}
.div2{
    margin :20px 10px 10px 22px;
    height: 400px;
    width :300px;
}
.logoTitle{
    display: inline-block;
}

.title{
    width:50px;
}
.ov{
    overflow: scroll;
    height:169px;
    font-size-adjust: initial;
} */
.totalCards {
    margin-left: 30px;
    position: relative;
    top: 70px;
    display: inline-block;
}
.posterCard {
    width: 483px;
    height: 278px;
    display: flex;
    align-items: center;
    display: inline-block;
    box-shadow: 0px 1px 1px 1px;
    margin-top: 25px;
    margin-left: inherit;
}


.image {
    width: 185px;
    height: 278px;


}
.div2 {
    width: 298px;
    height: 278px;
    position: relative;
    overflow: hidden;
    padding: 10px 16px 16px 16px;
    box-sizing: border-box;
    display: inline-block;

}

.logo{
    height:20px;
    width:20px;
}
.title {
    margin-top: 0px;
    margin-bottom: 5px;
    width: 266px;
    /* height: 38px; */

}
 .logoTitle{
    display: flex;
} 

.moreinfo{
    border-top: 1px solid #e3e3e3;
}

.ov {
    
    text-align: inherit;
    width: 266px;
    height: 164px;
    position: relative;
    padding-left: 4.5px;
    overflow: overlay;

}
