.nav-main{
	height:5vh;
	padding:3vh;
	background-color: lightskyblue;
	box-shadow: 5px solid white;
}
.nav-right{
	float:right;
}
.login-button{
	padding: 2px 15px;
	border: 1px solid lightsalmon;
	border-radius: 8px;
	background-color: lightsalmon;
	color: white;
	cursor: pointer;
}
.welcome{
	text-align: center;
}
.popup{
	position:absolute;
	top:0;
	display:none;
	background-color: rgb(0, 0, 0, 0.6);
	height:100%;
	width:100%;
	justify-content: center;
	align-items: right;
	text-align:center;
}
.popup-content{
	height:450px;
	width:650px;
	position:relative;
	top:15%;
	right:3%;
	background-color:white;
	border-radius:2px;
}
.form-page{
	margin-top:95px;
	position:relative;
}
.close{
	position:absolute;
	top:-37%;
	right:5%;
	cursor:pointer;
}
.popup-content input{
	display: block;
	margin-bottom:5px;
	margin:20px auto;
	width: 50%;
	padding: 5px;
	border: 1px solid gray;
	border-radius: 2px;
	outline: none;
}
.form-page button{
	padding: 8px 14px;
	color:white;
	background-color:lightpink;
	border:1px solid lightpink;
	border-radius: 4px;
	cursor:pointer;
	outline:none;
}